body {
  background: rgba(22, 34, 47, 0.9);
}
h1 {
  color: rgb(22, 34, 47);
  font-family:  "Didot", sans-serif;
  width:100%;
  background: white;
}

h2 {
  color: rgb(255, 255, 255);
  font-family:  "Didot", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 40px;

}
a {
  font-family:  "Didot", sans-serif;
  text-decoration: none;
  font-weight:lighter;
}

hr {
  width: 70%;
  float:right;
}

a:link {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}
a:visited {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}
a:hover {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: white;
}

#element1 {float:left; padding-left: 200px; font-size: 20px;}
           
#element2 {float:right; padding-right: 50px}

#element3 {float:left; padding-left: 200px; font-size: 20px;}
           
#element4 {float:right; padding-right: 50px}


.first{
     width:100%;
     height:100px;
     position:absolute;
     
 }
.second{

    width:100%;
    height:100px;
    position: relative;
    top:200px;
}
